@mixin alert-styles($bg-colour, $border-colour) {
  background-color: $bg-colour;
  border: 1px solid $border-colour;
  padding: 0.1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 2px 2px 0px hsl(0, 0%, 0%);
}

$alert-variants: (
  success: (
    rgb(156, 212, 156),
    green,
  ),
  error: (
    rgb(228, 145, 145),
    red,
  ),
  warning: (
    rgb(227, 218, 167),
    rgb(205, 188, 90),
  ),
  info: (
    rgb(184, 184, 233),
    rgb(133, 133, 234),
  ),
);


@each $input_variant, $colours in $alert-variants {
  .alert.#{$input_variant} {
    @include alert-styles($colours...);
  }
}