@mixin button-styles($bg-colour, $text-colour, $hover-bg-colour) {
  display: inline-block;
  padding: 11px 22px;
  background-color: $bg-colour;
  color: $text-colour;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid #000000;
  transition: background-color 0.3s ease, transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.1s ease;

  &:hover {
    box-shadow: 3px 3px 0px #000000;
    background-color: $hover-bg-colour;
  }

  &:focus {
    outline-color: transparent;
  }

  &.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

$button-variants: (
  default: (
    #e2dde1,
    #22061d,
    #ac81a1,
  ),
  red: (
    red,
    white,
    rgb(113, 32, 32),
  ),
  pink: (
    rgb(156, 32, 137),
    white,
    rgb(157, 61, 144),
  ),
  purple: (
    purple,
    white,
    rgb(182, 34, 182),
  ),
  gray: (
    gray,
    black,
    rgb(59, 57, 57),
  ),
  orange: (
    orange,
    white,
    rgb(109, 81, 28),
  ),
  blue: (
    blue,
    white,
    rgb(48, 48, 112),
  ),
  green: (
    green,
    white,
    rgb(28, 214, 28),
  ),
  sky-blue: (
    rgb(143, 143, 237),
    white,
    rgb(66, 66, 124),
  ),
  pale-red: (
    pale-red,
    white,
    rgb(68, 37, 37),
  ),
  pale-violet: (
    rgb(206, 177, 206),
    white,
    rgb(164, 109, 164),
  ),
  soft-blue: (
    rgb(127, 127, 196),
    white,
    rgb(87, 87, 133),
  ),
  pale-cyan: (
    rgb(140, 232, 232),
    white,
    rgb(6, 55, 55),
  ),
  pale-yellow: (
    gold,
    black,
    rgb(205, 188, 90),
  ),
);

@each $input_variant, $colours in $button-variants {
  .bb-button.#{$input_variant} {
    @include button-styles($colours...);
  }
}

.rounded {
  border-radius: 9999px;
}
