.dialog {
  background: white;
  border-radius: 20px;
  filter: drop-shadow(6px 6px 0px black);
  padding: 3vmin;
  border: 4px solid #000;
  width: 88%;

  p {
    font-size: 18px;
  }
}

.button-container {
  display: flex;
  text-align: right;
}
