// Define a mixin for input styles
@mixin input-styles($bb-colour, $text-colour, $border-colour, $hover-bg-colour) {
  padding: 10px;
  background-color: $bb-colour;
  color: $text-colour;
  border: 2px solid $border-colour;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 0px 0px #000;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: $hover-bg-colour;
  }

  &:focus {
    outline-color: transparent;
    border-color: $hover-bg-colour;
  }

  &.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  &::placeholder {
    color: $text-colour;
    opacity: 1;
    text-align: left;
  }
}

$input-variants: (
  default: (
    #ffffff,
    #000000,
    #cccccc,
    #aaaaaa,
  ),
  orange: (
    orange,
    black,
    black,
    rgb(109, 81, 28),
  ),
  blue: (
    blue,
    white,
    black,
    rgb(48, 48, 112),
  ),
  green: (
    green,
    white,
    black,
    rgb(28, 214, 28),
  ),
  sky-blue: (
    rgb(154, 154, 236),
    white,
    black,
    rgb(66, 66, 124),
  ),
  pale-red: (
    rgb(213, 106, 106),
    white,
    black,
    rgb(68, 37, 37),
  ),
  pale-violet: (
    rgb(206, 177, 206),
    white,
    black,
    rgb(164, 109, 164),
  ),
  soft-blue: (
    rgb(127, 127, 196),
    white,
    black,
    rgb(87, 87, 133),
  ),
  pale-cyan: (
    rgb(140, 232, 232),
    white,
    black,
    rgb(6, 55, 55),
  ),
  pale-yellow: (
    rgb(209, 209, 117),
    black,
    black,
    rgb(205, 188, 90),
  ),
);

@each $input_variant, $colours in $input-variants {
  .bb-input.#{$input_variant} {
    @include input-styles($colours...);
  }
}
