<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>JRT - aboot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap" rel="stylesheet">
    <meta name="description" content="Personal Portfolio">
    <meta name="keywords" content="Personal portfolio, front end, web development">
    <meta name="author" content="James Raymond Thompson">
    <meta name="robots" content="index,follow">
    <link rel="icon" href="images/logo.svg">
    <meta property="og:title" content="James Raymond Thompson">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jraymondt.com">
    <meta property="og:image" content="https://jraymondt.com/images/best_can.png">
    <meta property="og:description" content="James Raymond Thompson: Personal Portfolio">
    <meta property="og:locale" content="en_AU">
    <meta property="og:locale:alternate" content="en_GB">
    <meta property="og:site_name" content="James Raymond Thompson">
  </head>
  <body>
  <nav class="navbar">
    <div class="logo-container">
      <a href="index.html">
        <img src="images/buddy.png" alt="buddha logo" class="logo-image">
      </a>
    </div>
    <h1 class="mobile-title">JamesRThompson</h1>
    <ul class="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="portfolio.html">Portfolio</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
    
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
  <main>
    <div class="wrapper">
      <h2>👨🏻‍🚀 . . . about a boy . . . 👨🏻‍🚀</h2>
      <div class="profile_pic">
        <img src="images/hunter_bob.jpg" alt="james thompson">
          <a class="button" href="resources/2025_APRIL_JRT-web.pdf" target="_blank">
            <i class="fa fa-file"></i> resume.pdf
          </a>
      </div>
      <div class="layer">
          <div class="container">
            <h3>The mechanism . . .</h3>
              <p>
                A text and pictures region of the West Australian web server that is connected to the internet, with downloadable content! 
                A Portfolio if you like, all written by the ghost piloting the human meat-bag labeled James Raymond Thompson. 
                I am a Student, Front End Web Developer based in Perth, Western Australia.
              </p>
              <br>
              <br>
              <h2>  
                A long time ago, not that far away . . .
              </h2>
              <br>
          </div>  
          <div class="box-black">
            <p>
              <br>
              <h3>Episode I: The Phantom Jimbob</h3>
              <br>
              I was born in Perth, Western Australia in 1979. I grew up in the suburbs of Perth and spent my formative working years at the Windsor Hotel in South Perth.
              <br> 
              I was a cook, I learned the ways of the kitchen and learned to work with my hands, to create things with my mind.
              <br> 
              I honed some very rudimentary crafting skills in HTML using frontpage98 in the late 90's and early 2000s. 
              <br>
              In my naivety I thought I could make a website and get paid for it. So designed, photographed and knocked together a website for the Windsor Hotel. 
              <br>
              <br>
              <hr>
              <br>
              <br>
              <h3>Episode II: Hospitality of the Clones</h3>
              <br> 
              I spent the next 20 years in hospitality, working in some of the best hotels in Perth, including Liar's Saloon, JoeBlacks and the BelEyre Tavern.
              <br> 
              If you are wondering why none of these places exist anymore, it's because they crumbled into fine cheese particles after they were destroyed by the Galactic Empire. 
              <br>
              <br>
              <hr>
              <br>
              <br>
              <h3>Episode III: Revenge of the Dish</h3> 
              <br>
              We will just skip this one and the other, it was a dark time for the galaxy. 
              <br>
              <br>
              <hr>
              <br>
              <br>
              <h3>Episode IV: A New Hope</h3>
              <br> 
              I was a courier; I leaned into driving and delivering packages to rebel scum. 
              I re-ignited my passion for web development and have been waiting for the right time to return to it.
              I finished Cert IV Web Development at North Metro TAFE in 2021 and after some time in the local government sector I have returned in 2025 to what I love, running web code down the internet pipelines. 
            </p>   
          </div>  
        </div><!--end layer-->
    </div><!--end wrapper-->
  </main>
  <div id="footer-wrap"><!--start footer-wrap-->
    <footer>
      <div class="footer-column footer-profile"><!-- Profile Picture Column -->
        <p>
          <a href="mailto:james@jraymondt.com">james</a></p>
        <p>
        <div class="avatar bg-pale-red">
          <a href="https://jraymondt.com/blog" target="_blank" rel="noopener">
            <img src="images/avatar2025-sml.png" alt="bob a tar">
          </a>  
        </div>
        <p>
          <a href="mailto:james@jraymondt.com">jraymondt.com</a></p>
        <p>
      </div>
      <!-- Social Links Column -->
      <div class="footer-column footer-social">
        <a href="https://jraymondt.com/blog" target="_blank" rel="noopener"><h3>Follow me</h3></a>
          <div class="social-icons">
            <a href="https://github.com/jraymondt" target="_blank" rel="noopener" title="GitHub">
            <i class="fa fa-github"></i></a>
            <a href="https://linkedin.com/in/jraymondt" target="_blank" rel="noopener" title="LinkedIn">
            <i class="fa fa-linkedin"></i></a>
            <a href="https://instagram.com/jraymondt" target="_blank" rel="noopener" title="Instagram">
            <i class="fa fa-instagram"></i></a>
          </div>
      </div>
      <!-- ontact olumn -->
      <div class="footer-column footer-contact">
        <a href="contact.html"><h3>Contact</h3></a>
        <p>James Raymond Thompson</p>
        <p>Morley, Western Australia</p>
        
          <a href="tel:+61406642114">
          <i class="fa fa-phone"></i> 040 66 42 114</a>
        </p>
      </div>
    </footer>
    </div><!-- end footer-wrap-->
      <script src="js/navbar.js"></script>
      <script src="js/copydate.js"></script>
      <script src="js/errorMessages.js"></script>
      <script src="js/register.js"></script>
      <script src="js/validation.js"></script>
      <script src="https://kit.fontawesome.com/18d6f5b67f.js" crossorigin="anonymous"></script>
  </body>
  </html>
