/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 3.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 3.3rem;
}
h3 {
  font-size: 2.8rem;
  font-weight: 400;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: whitesmoke;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
button:hover {
  background: #27394e;
}

/* nav hero */

.main-head {
  background: #131c27;
  color: whitesmoke;
  position: sticky;
  top: 0px;
  z-index: 3;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  
  
}
nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
  filter: drop-shadow(1rem 1rem 1rem black);
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

#hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent),
    url("images/rave-cave.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#hero h3 {
  padding: 5rem;
}

/* locations section */

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.77), transparent),
    url("images/new-york-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.locations-head {
  width: 90%;
  margin: auto;
}
.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}
.locations-head h3 {
  padding: 4rem 0rem;
  /* giving the text area a gradient clipping out the text so the gradient is visable through text */
  background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* cloud animations */

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
}
.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}
.moving-cloud-2 {
  top: 12%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation 3.3s infinite alternate ease-in-out;
}

@keyframes cloudAnimation {
  from {
    transform: translate(4%, -4%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* benefits section */

.benefits-head {
  background: #343c44;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-align: center;
}
.benefits-head h3 {
  padding: 1rem;
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 65vh;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  flex: 1 1 30rem;
  min-height: 35vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}
.cards img {
  max-width: 15%;
  max-height: 31.55px;
  margin: 2rem;
}
.card h4,
p {
  padding: 1rem;
}
.card h4 {
  margin-top: 2rem;
}

.card-icon {
  background: #131c27;
}
/* contact section */

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.77), transparent),
    url("images/contact-disc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.91);
  width: 60%;
  color: whitesmoke;
  border-radius: 20px;
}
.form-head {
  text-align: center;
  padding: 4rem;
}
.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}
.form-wrapper label {
  margin: 0rem 3rem;
  overflow: hidden;
}
.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form-wrapper input {
  padding: 1rem 3rem;
}

/* footer */

footer {
  color: white;
  filter: drop-shadow(1rem 1rem 1rem black);
  background: rgba(19, 28, 39, 1);
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
footer h5 {
  flex: 1 1 40rem;
}
footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

button:focus {
  background: #2c3f57;
  outline-style: solid;
}

/* media query */
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
  }
  .cloud {
    height: 40rem;
    pointer-events: none;
  }
  .locations-head h3 {
    background: rgba(19, 28, 39, 0.91);
    -webkit-text-fill-color: whitesmoke;
    padding: 0.9rem;
  }
  .form-wrapper {
    width: 90%;
  }
  footer {
    text-align: center;
  }
}
